	.search image{
		width: 120rpx;
		height: 56rpx;
	}
	.search {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.title{
		width: 180rpx;
		height: 56rpx;
		font-size: 34rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #040B29;
		line-height: 56rpx;
		text-align: center;
	}
	.rigth_title{
		width: 180rpx;
		height: 42rpx;
		font-size: 30rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #52BCBC;
		line-height: 42rpx;
		text-align: right;
	}