	.Send{
		width: 128rpx;
		height: 50rpx;
		background: #52BCBC;
		border-radius: 26rpx;
		font-size: 24rpx;
		color: #FFFFFF;
		line-height: 50rpx;
		text-align: center;
	}
	.input_bottom{
		width: 87.2%;
		height: auto;
		position: fixed;
		background-color: #FFFFFF;
		padding-top: 40rpx
	}
	.Anonymous image{
		margin-top: 8rpx;
		width: 32rpx;
		height: 32rpx;
		margin-right: 20rpx;
	}
	.Anonymous{
		width:auto;
		height:50rpx;
		display: flex;
		font-size: 26rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #9B9DA9;
		line-height: 50rpx;
	}
	.input_Anonymous{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-between;
		margin-top: 30rpx;
		margin-bottom: 40rpx;
	}
	.None_comment image{
		width: 77px;
		height: 78px;
		margin-top:40rpx;
	}
	.asd{
		width: 100%;
	}
	.asd .one{
		width: 100%;
		margin-bottom: 0;
	}
	.None_comment{
		width: 100%;
		height: 200px;
		text-align: center;
		font-size: 34rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #9B9DA9;
		line-height: 48px;
		padding-bottom: 60rpx;
	}
	.Collection image{
		width: 32rpx;
		height: 32rpx;
		margin-left: 50%;
		transform: translateX(-50%);
	}
	.Collection{
		width: 68rpx;
		height: 66rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #9B9DA9;
		text-align: center;
	}
	.comment_input textarea{
		width: 480rpx;
		height: 66rpx;
		padding: 11rpx 20rpx;
		background: #F6F7F8;
		border-radius: 6rpx;
		line-height: 44rpx;
		box-sizing: border-box;
		padding-left: 20rpx;
		font-size: 30rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #040B29;
		margin-bottom: 40rpx;
	}
	.comment_type{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-between;
	}
	.Comment_bottom{
		margin-top: 10rpx;
		width: 100%;
		height: 50rpx;
		text-align: center;
		line-height: 50rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #9B9DA9;
		margin-bottom: 90rpx;
	}
	.comment_time{
		width: 100%;
		height: auto;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #9B9DA9;
		line-height: 34rpx;
	}
	.commentator{
		width: 572rpx;
		float: right;
		height: auto;
		background-color: #F6F7F8;
		padding: 20rpx;
		box-sizing: border-box;
		
	}
	.commentator_user{
		width: 100%;
		height: auto;
		margin-bottom: 38rpx;
		font-size: 26rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #636472;
		line-height: 36rpx;
	}
	.comment_text{
		width: 100%;
		height: auto;
		font-size: 30rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #3B3A49;
		line-height: 42rpx;
	}
	.comment_user{
		width: 100%;
		height: 78rpx;
		line-height: 78rpx;
		font-size: 26rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #040B29;
		display: flex;
		justify-content: space-between;
		
	}
	.Comment_box .comment_user image{
		width: 32rpx;
		height: 32rpx;
		margin-top: 20rpx;
	}
	.comment_title{
		width: 572rpx;
		height: auto;
		padding-left: 20rpx;
		box-sizing: border-box;
	}
	.Comment_box image{
		width: 78rpx;
		height: 78rpx;
		border-radius: 50%;
	}
	.Comment_box{
		display: flex;
		width: 100%;
		height: auto;
		padding: 30rpx 0 30rpx 0;
		

	}
	.Comment_two{
		width: 100%;
		height: auto;
		border-bottom: 1px solid #F7F7F7;
		padding-bottom: 30rpx;
	}
	.Comment_two:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;	
	 }
	.Comment{
		width: 100%;
		height: auto;
	}
	.Comment_one{
		width: 100%;
		height: 36rpx;
		font-size: 26rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #9B9DA9;
		line-height: 36rpx;
		margin: 40rpx 0 10rpx;
	}
	.search image{
		width: 120rpx;
		height: 56rpx;
	}
	.gudingOne{
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1000;
	}
	.search {
		width: 87.2%;
		display: flex;
		margin: auto;
		justify-content: space-between;
		top: 0;
		background-color: rgba(255, 255, 255, 1);
		padding-top: 20rpx;
	}
	.search .rigth_img{
		width: 56rpx;
		height: 56rpx;
	}
	.rigth_title image{
		width: 44rpx;
		height: 44rpx;
	}
	.user_content_cat{
		width: 100%;
		margin-top: 60rpx;
		height: auto;
		padding-bottom: 20rpx;
		border-bottom: 1px solid #F7F7F7;
	}
	.user_content_title{
		display: flex;
		width: 100%;
		margin-bottom: 24rpx;
	}
	.user_content_title image{
		width: 78rpx;
		height: 78rpx;
		border-radius:50%;
		margin-right: 18rpx;
	}
	.boxTwo{
		width: 128rpx;
		height: 50rpx;
		border-radius: 26rpx;
		border: 1px solid #E9ECF1;
		text-align: center;
		line-height: 50rpx;
		font-size: 24rpx;
		color: #696D7F;
	}
	.user_content_info{
		width:85%;
		height: 78rpx;
		font-size: 30rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #040B29;
		line-height: 78rpx;
		display: flex;
		justify-content: space-between;
	}
	.user_content_text{
		width: 100%;
		height: auto;
		font-size: 34rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #040B29;
		line-height: 54rpx;
		margin-bottom: 20rpx;
		overflow: hidden;
	}
	.user_content_Img{
		display: flex;
		width: 100%;
		height: auto;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;
	}
	.img_one{
		margin-top: 2rpx;
		width: 326rpx;
		height: 326rpx;
	}
	.img_two{
		width: 100%;
	}
	.img_three{
		width: 100%;
		height: 654rpx;
	}
	.user_content_bottom{
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: auto;
		margin-top: 20rpx;
	}
	.user_content_left{
		display: flex;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #9B9DA9;
		line-height: 34rpx;
	}
	.thumbs-up{
		display: flex;
		height: 36rpx;
		line-height: 36rpx;
	}
	.user_thumbs-up{
		display: flex;
		margin-right: 10rpx;
		font-size: 24rpx;
		color: #9B9DA9;
	}
	.user_thumbs-up image{
		width: 32rpx;
		height: 32rpx;
		margin-right: 10rpx;
		margin-top: 4rpx;
	}
	.follow{
		width: 128rpx;
		height: 50rpx;
		border-radius: 26rpx;
		border: 1px solid #E9ECF1;
		text-align: center;
		line-height: 50rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #696D7F;
	}
	.vote{
		width: 100;
		height: auto;
		background: rgba(82, 188, 188, 0.07);
		border-radius: 3px 3px 3px 3px;
		padding: 60rpx 32rpx;
		box-sizing: border-box;
	}
	.vote_hade{
		width: 100%;
		display: flex;
		justify-content: space-between;
		
	}
	.imgNumber{
		position: absolute;
		bottom: 20rpx;
		right: 20rpx;
		font-size: 54rpx;
		font-family: PingFangSC-Regular-, PingFangSC-Regular;
		font-weight: normal;
		color: #FFFFFF;
	}
	.vote_letf{
		width: auto;
		height: 42rpx;
		font-size: 30rpx;
		font-family: PingFangSC-Medium-, PingFangSC-Medium;
		font-weight: normal;
		color: #040B29;
		line-height: 42rpx;
	}
	.vote_rigth{
		width: auto;
		height: 42rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Regular-, PingFangSC-Regular;
		font-weight: normal;
		color: #9B9DA9;
		line-height: 42rpx;
	}
	.vote_num{
		width: 100%;
		display: flex;
		justify-content: space-between;
		height: auto;
		margin-top: 44rpx;
	}
	.vote_one{
		width: 496rpx;
		height: 76rpx;
		display: flex;
		justify-content: space-between;
		background-color: #FFFFFF;
	}
	.vote_one image{
		width: 42rpx;
		height: 36rpx;
		margin-right: 12rpx;
		margin-top: 22rpx;
	}
	
	.vote_text{
		width: 65%;
		height: 100%;
		font-size: 26rpx;
		font-family: PingFangSC-Regular-, PingFangSC-Regular;
		font-weight: normal;
		color: #040B29;
		box-sizing: border-box;
		padding: 0px 20rpx;
		line-height: 76rpx;
		border-radius: 6rpx;
		overflow:hidden;
		text-overflow:ellipsis;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-line-clamp:1;
	}
	.vote_width{
		width: 348rpx;
	}
	.voteimg{
		width: 76rpx;
		height: 76rpx;
	}
	.votetrue{
		width: 590rpx;
		height: 66rpx;
		background: #52BCBC;
		border-radius: 3px 3px 3px 3px;
		opacity: 1;
		text-align: center;
		line-height: 66rpx;
		margin-top: 40rpx;
	}
	.Price{
		width:auto;
		height: 78rpx;
		font-size: 30rpx;
		font-family: PingFangSC-Medium-, PingFangSC-Medium;
		font-weight: normal;
		color: #DE7978;
		line-height: 78rpx;
	}